@model Model.EF.ProductCategory

@{
    ViewBag.Title = "CreateParent";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    Thêm danh mục con
}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Thêm danh mục con</h3>
            </div>
            @using (Html.BeginForm("Create", "Category", FormMethod.Post))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "exampleInputEmail1" })
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "exampleInputEmail1" })
                            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ParentID, htmlAttributes: new { @class = "exampleInputEmail1" })
                            @Html.DropDownListFor(model => model.ParentID, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DisplayOrder, htmlAttributes: new { @class = "exampleInputEmail1" })
                            @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "exampleInputEmail1" })
                            @Html.CheckBoxFor(model => model.Status, new { @class = "checkbox" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="xác nhận" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>

            }
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>